<?php
// module/Album/view/album/album/index.phtml:

$title = 'My Podcasts';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('podcast', array('action'=>'add'));?>">Add new podcast</a>
</p>

<table class="table">
<tr>
    <th>Title</th>
    <th>Options</th>
</tr>
<?php foreach ($podcasts as $podcast) : ?>
<tr>
    <td><a href="<?php echo $this->url('podcast',
        array('id' => $podcast->id));?>" ><?php echo $this->escapeHtml($podcast->title);?></a></td>

    <td>
        <a href="<?php echo $this->url('podcast',
            array('action'=>'edit', 'id' => $podcast->id));?>">Edit</a>
        <a href="<?php echo $this->url('podcast',
            array('action'=>'delete', 'id' => $podcast->id));?>">Delete</a>
    </td>
</tr>
<?php endforeach; ?>
</table>
